<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1></h1>

<span>Bonjour !</span>

<h4>Nous vous remercions d'utiliser Geopovnet !.</h4>

<div>Geopovnet est une platforme geospatiale destinnée pour les pays en cours de développement.</div>

<div>Nous voulons nous assurer qu'il s'agit bien de vous. Veuillez saisir le code de vérification suivant. 
Si vous ne souhaitez pas créer un compte, ignorez cet e-mail.

Geopovnet ne vous enverra jamais d'e-mail pour vous demander de communiquer ou de vérifier votre mot de passe, votre carte de crédit ou votre numéro de compte bancaire.
</div>


<div>Geopovnet,2023.  </div>
    
</body>
</html>